.register-box{
    position:relative;
    left:500px;
    top:100px;
    background-color:#D9D9D9;
    width:300px;
    height:425px;
}

h1{
    position:relative;
    left:100px;
}

.password-field{
    position:relative;
    top:20px;
    left:10px;
}

#password{
    position: relative;
    left:4px;
}

.username-field{
    position:relative;
    left:10px;
}

.email-field{
    position:relative;
    top:40px;
    left:37px;
}

label[for='email']{
    position:relative;
    right:6px;
}

#submit-button{
    position: relative;
    top:150px;
    left:120px;
}

.fname-field{
    position:relative;
    left:5px;
    top:60px;
}

.lname-field{
    position:relative;
    left:7px;
    top:80px;
}

.age-field{
    position:relative;
    left:7px;
    top:105px;
}

#age{
    width:40px;
}

#gender-label{
    position:relative;
    top:84px;
    left:150px;
}

#gender{
    position:relative;
    left:10px;
}

.phone-field{
    position:relative;
    left:7px;
    top:110px;
}

#phone{
    width:140px;
}

.position-field{
    position:relative;
    top:130px;
    left:51px;
}

#position{
    width:140px;
}